.HealthIndicatorContainer {
  width: 15rem;
  height: 5rem;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;
  border-radius: 6px;
}

.iconContainer{
  /* background-color: rgb(204, 131, 131); */
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.indicatorContent{
  display: flex;
  flex-direction: column;
}

.indicatorNumber{
  font-weight:bold;
  margin-bottom: 0.2rem;
}

