.greetingContainer{
  display: flex;
  flex-direction: column;
  margin: 5rem 5rem 2rem 1rem;
  
}
.userGreeting{
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 2.2rem;
}

.userName{
  color: #FF0000;
}

.userEncouragingMessage{
  font-style: normal;
  font-weight:500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}