.SideBarContainer {
  position: relative;
  height: 100%;
  width: 100px;
  background-color: black;
  border-top: none;
  margin-right: 2rem;
}

.activityContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sideBarText {
  white-space: nowrap;
  font-size:11px;
  position: absolute;
  left: -12px;
  bottom: 12%;
  color: white;
  transform: rotate(-90deg);
}
