@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h3,
h2,
a {
  font-family: "Roboto", sans-serif;
}

.BodyContentWithoutSideBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 0 4rem 0rem;
}
.BodyContentWithSideBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.allBobyContent {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.allChartsContent {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.allLowerCharts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.chartItem {
  height: 100%;
  width: 30%;
}

.healthIndicationMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  width: 25%;
}

.mainLoadingMessage {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #e60000;
}


@media screen and (min-width: 1400px) {
  .BodyContentWithoutSideBar {
    margin: 0 0 4rem 2rem;
  }
}