@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h3,
h2,
a {
  font-family: "Roboto", sans-serif;
}

.BodyContentWithoutSideBar {
  display: flex;
  flex-direction: column;
  width: 83%;
  height: 100%;
  margin: 0 0 3rem 0rem;
}
.BodyContentWithSideBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.allBobyContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.allChartsContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.allLowerCharts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.chartItem {
  height: 100%;
  width: 32%;
}

.healthIndicationMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.mainLoadingMessage {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #e60000;
}


@media screen and (min-width: 1400px) {
  .BodyContentWithoutSideBar {
    width: 100%;
    margin: 2rem 1rem 4rem 3rem;
  }
  .allBobyContent {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .healthIndicationMainContainer {
    flex-direction: column;
    width: 25%;
    margin-top: 0rem;
    margin-left: 2rem;
  }
  .chartItem {
    width: 30%;
  }
}